<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #studentForm="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]="student.firstName"
               class="form-control"
               id="firstName"
               name="firstName"
               placeholder="Enter your first name"
               required #firstName="ngModel">
      </div>
      <div [hidden]="!firstName.pristine" class="alert alert-danger">First Name is required</div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" [(ngModel)]="student.lastName"
               class="form-control"
               id="lastName"
               name="lastName"
               placeholder="Enter your last name"
               required #lastName="ngModel">
      </div>
      <div [hidden]="!lastName.pristine" class="alert alert-danger">Last Name is required</div>
      <div class="form-group">
        <label for="dateOfBirth">Date of Birth</label>
        <input type="text" [(ngModel)]="student.dateOfBirth"
               class="form-control"
               id="dateOfBirth"
               name="dateOfBirth"
               placeholder="Enter your Date Of Birth"
               required #dateOfBirth="ngModel">
      </div>
      <div [hidden]="!dateOfBirth.pristine" class="alert alert-danger">Date Of Birth is required</div>
      <button type="submit" [disabled]="!studentForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
